body{
    text-align: center;
}
#nav{
    grid-area: nav;
    background-color: aqua;
    height: 100px;
    border: 2px black solid ;
    border-radius: 20px;
    margin-top: 20px;
}
#nav>img{
    width: 75px;
    float: left;  /*doesn't get effectd by text alighment*/
}
#leftMenu{
    grid-area: leftMenu;
    background-color: aqua;
    border: 2px black solid ;
    border-radius: 20px;
    margin-top: 20px;
}
#leftMenu>button{
     display: block;/*doesn't get effectd by text alighment*/
     margin-top: 50px;
}
#rightMenu{
    grid-area: rightMenu;
    background-color: aqua;
    border: 2px black solid ;
    border-radius: 20px;
    margin-top: 20px;
}
#rightMenu>ul>li{
    list-style-type: none;
    margin-top: 50px;
}
a{
    text-decoration: none; color: white;
}
#main{
    grid-area: main;
    background-color: aqua;
    height: 500px;
    border: 2px black solid ;
    border-radius: 20px;
    margin-top: 20px;
}
#main>img{
    width: 200px;
   /* display: block; margin: auto;*/
}
#footer{
    grid-area: footer;
    background-color: aqua;
    height: 50px;
    border: 2px black solid ;
    border-radius: 20px;
    margin-top: 10px;
}
#container{
    display: grid;
    grid-template-areas:'nav nav nav nav'
    'leftMenu main main rightMenu'
    'leftMenu main main rightMenu'
    'leftMenu footer footer footer ';
}
.clear{
    clear: both;
}

@media screen and (max-width: 500px) {
 body{
    background-color: green;
 }
 #container{
    display: grid;
    grid-template-areas:'nav nav nav nav '
        'rightMenu rightMenu rightMenu rightMenu'
        'leftMenu main main main'
        'leftMenu main main main'
        'leftMenu footer footer footer ';
}
#rightMenu{
    display:none;
    height: 100px;
}
#rightMenu>ul>li{
    display: inline;
}
#shomnu{
    display: inline;
}
    
}
@media screen and (min-width : 501px) and (max-width : 800px){
    body{
        background-color: grey;
    }
    #container{
        display: grid;
        grid-template-areas:'nav nav nav nav '
        'leftMenu main main '
        'leftMenu main main '
        'leftMenu footer footer footer ';
}
#rightMenu{
    display: none;
}
/* Make "main" start on row 2 column 2, and span 2 rows and 3 columns: */
#main{
    grid-area: 2 /2 /span 2 /span 3;
}

}
@media screen and (min-width : 801px){
    body{
        background-color: grey;
    }
    #container{
        display: grid;
        grid-template-areas:'nav nav nav nav '
        'leftMenu main main rightMenu'
        'leftMenu main main rightMenu'
        'leftMenu footer footer footer ';
}
#shomnu{
    display: none;

}
body{
    background-color: white;
}
}