body{
    text-align: center;
}
#nav{
    grid-area: nav;
    background-color: aqua;
    height: 100px;
    border: 2px black solid ;
    border-radius: 20px;
    margin-top: 20px;
}
#nav>img{
    width: 75px;
    float: left;  /*doesn't get effectd by text alighment*/
}
#leftMenu{
    grid-area: leftMenu;
    background-color: aqua;
    border: 2px black solid ;
    border-radius: 20px;
    margin-top: 20px;
}
#leftMenu>button{
     display: block;/*doesn't get effectd by text alighment*/
     margin-top: 50px;
}
#rightMenu{
    grid-area: rightMenu;
    background-color: aqua;
    border: 2px black solid ;
    border-radius: 20px;
    margin-top: 20px;
}
#rightMenu>ul>li{
    list-style-type: none;
    margin-top: 50px;
}
a{
    text-decoration: none; color: white;
}
#main{
    grid-area: main;
    background-color: aqua;
    height: 500px;
    border: 2px black solid ;
    border-radius: 20px;
    margin-top: 20px;
}
#main>img{
    width: 200px;
   /* display: block; margin: auto;*/
}
#footer{
    grid-area: footer;
    background-color: aqua;
    height: 50px;
    border: 2px black solid ;
    border-radius: 20px;
    margin-top: 20px;
}
#container{
    display: grid;
    grid-template-areas:'nav nav nav nav'
    'leftMenu main main rightMenu'
    'leftMenu main main rightMenu'
    'leftMenu footer footer footer ';
}
.clear{
    clear: both;
}